.flex-container-sug{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding: 42px 130px 15px 130px ;
    background-color: hsl(220, 16%, 96%);
    justify-content: center;
}

.flex-item-sug{
   margin:15px;
   height: 350px;
   width: 210px;
}
.flex-item-sug > h1{
   font-size: 23px;
   color: hsl(234, 21%, 27%);
   font-weight: 500;
}
.flex-item-sug > p{
   font-size: 18px;
   color: hsl(233, 8%, 62%);
   font-weight: 300;
}

.flex-container-secondary{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}

.flex-container-sug > div > h2{
   font-size: 30px;
   color: hsl(233, 31%, 26%);
   font-weight: 300;
}
.flex-container-sug > div > p{
   font-size: 18px;
   color: hsl(233, 8%, 62%);
   font-weight: 500;
}
#texto-principal{
   display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 130px 0px 80px;
}
@media screen and (max-width: 375px) {
    .flex-container-sug{
    padding: 42px 10px 15px 10px;
    justify-content: center;
}
.flex-item-sug{
   align-self: center;
   margin: 10px;
    height: auto;
    width: auto;
    text-align: center;
}
.flex-container-secondary{
   justify-content: center;
   padding:5px;
}
#texto-principal{
   padding: 5px;
   text-align: center;
}
}


