.flex-container-hea{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("/images/bg-intro-desktop.svg");
  background-attachment: fixed;
  background-position-y: center;
  background-position-x: 460px;
  background-repeat: no-repeat;
  width: 100%;
}
.flex-item-init{
     width: 410px;
   
}
.text{
  margin-left: 137px;
  margin-right: 135px;
  align-self: center;
  color:hsl(233, 26%, 24%);
  padding-bottom: 150px;
}
 .text>h1{
    font-weight: 200;
    font-size: 53px;
 }
  .text>p{
    font-size: 16px;
    color: hsl(233, 8%, 62%);
 }


.flex-item-init>img{
  width: auto;
  height: 100%;
  display: block;
}

/* MOVIL*/
@media screen and (max-width: 375px) {
  .init{
  order: 1;
 }
  .text{
    margin-left: 7px; 
    margin-right: 7px;
    text-align: center;
    padding-bottom: 50px;
    order: 2;
  }
  .text>h1{
    font-size: 40px;
 }
  .flex-item-init>img {
    width: 100%;
    height: auto;
}
.flex-item-init {
    width: auto;
}
.flex-container-hea{
  background-image: url("/images/bg-intro-mobile.svg");
    background-position-y: 2px;
    background-position-x: center;
    background-attachment: unset;
}

}