body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  background-color:hsl(0, 0%, 98%);
  overflow-x:hidden;
}

button{
  border-radius: 25px;
  border: 0px;
  padding: 10px 23px 10px 23px;
  color:white;
  background:linear-gradient(90deg, rgba(87,221,123,1) 5%, rgba(64,185,215,1) 57%, rgba(67,167,199,0.9976365546218487) 100%);
  font-weight: bold;
}

button:hover{
  cursor:pointer; 
  cursor: hand;
  background:linear-gradient(90deg, rgba(87,221,123,0.6895133053221288) 5%, rgba(64,185,215,0.4066001400560224) 57%, rgba(67,167,199,0.5214460784313726) 100%);
}